Bottleneck
Brotli
certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
gmpy2
idna
importlib_resources
Jinja2
joblib==1.4.2
kiwisolver
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
networkx
packaging
numexpr
numpy==1.26.4
pandas==2.2.2
pillow
PyQt5==5.15.10
pyparsing
PyQt5-sip
PySocks
python-dateutil
pytz
PyYAML
requests
scikit-learn==1.5.1
scipy==1.13.1
sip
six
sympy
threadpoolctl==3.5.0
tomli
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tornado
triton==3.0.0
typing_extensions
tzdata
unicodedata2
urllib3
zipp
optuna>=3.0.0
